.Ratio {
    position: relative;
}
.Ratio:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 65%;
}
.Ratio > .RatioContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* Ratio Modifer */

.Ratio--1x1:before {
    padding-top: 100%;
}

.Ratio--16x9:before {
    padding-top: 56%;
} 